body {
    background-color: black;
    margin: 0;
}
div {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    width: 50%;
    margin-left: 25%;
}
img {
    width: 100%;
    border: 5px solid white;
}
h1 {
    text-transform: uppercase;
}
